---
layout: default
title: Home
---

{% for post in site.posts limit:10 %}
<article>
    {% unless post.link %}
    {% unless post.layout == 'blurb' %}
    <h1>{{post.title}}</h1>
    {% endunless %}
    {% else %}
    <h1><a href="{{post.link}}">{{post.title}}</a></h1>
    {% endunless %}
    {{post.content}}
    
    <p class="byline">Posted by Mike Watts On <a href="{{post.url}}" title="permalink">{% if post.layout == 'blurb' %}{{ post.date | date: "%a, %d %B %Y %T" }}{% else %}{{ post.date | date_to_string }}{% endif %}</a></p>
        
</article>
{% endfor %}