---
layout: default
title: Home
---
{% assign p_count = 0 %}
{% for post in site.posts %}
{% if p_count < 1 %}
{% unless post.layout == 'blurb' %}
<article class="home">
    {% unless post.link %}
        {% assign p_count = p_count | plus: 1 %}
        <h1>{{post.title}}</h1>
        
    {% else %}
        <h1><a href="{{post.link}}">{{post.title}}</a></h1>
    {% endunless %}
    {{post.excerpt}}
    {% if post.excerpt != post.content %}
    <a class="read_more" href="{{ site.baseurl }}{{ post.url }}">Read more...</a>
    {% endif %}
    
    
    <p class="byline">Posted by Mike Watts On <a href="{{post.url}}" title="permalink">{% if post.layout == 'blurb' %}{{ post.date | date: "%a, %d %B %Y %T" }}{% else %}{{ post.date | date_to_string }}{% endif %}</a></p>
        
</article>
{% endunless %}
{% endif %}
{% endfor %}

<section id="projects">
<h1>Projects</h1>
<ul>
<li>
    <h3>Mage</h3>
    <p><img src="/files/2018-06-07-mage/mage.jpg"> Mage is a ATTiny85 based handheld console.
    <a class="read_more" href="https://github.com/MalphasWats/Mage"> more</a></p>
</li>
<li>
    <h3>Glixl</h3>
    <p><img src="/files/images/RPG.png"> WebGL Javascript Framework.
    <a class="read_more" href="https://github.com/MalphasWats/glixl"> more</a></p></p>
</li>
<li>
    <h3>RPG</h3>
    <p><img src="/files/images/dojo.jpeg">Ever unfinished glixl-based RPG.
    <a class="read_more" href="http://www.subdimension.co.uk/RPG/"> more</a></p></p>
</li>
</ul>
</section>