---
layout: default
title: Home
---
{% assign p_count = 0 %}
{% for post in site.posts %}
{% if p_count < 1 %}
{% unless post.layout == 'blurb' %}
<article class="home">
    {% unless post.link %}
        {% assign p_count = p_count | plus: 1 %}
        <h1>Blog post: {{post.title}}</h1>
        
    {% else %}
        <h1>Blog post: <a href="{{post.link}}">{{post.title}}</a></h1>
    {% endunless %}
    {{post.excerpt}}
    {% if post.excerpt != post.content %}
    <a class="read_more" href="{{ site.baseurl }}{{ post.url }}">Read more...</a>
    {% endif %}
    
    
    <p class="byline">Posted by Mike Watts On <a href="{{post.url}}" title="permalink">
    {{ post.date | date_to_string }}</a></p>
        
</article>
{% endunless %}
{% endif %}
{% endfor %}

<section class="items">
<h1>Microblog</h1>
<ul>
{% assign p_count = 0 %}
{% for post in site.posts %}
{% if p_count < 3 %}
{% unless post.layout == 'post' %}
{% assign p_count = p_count | plus: 1 %}
<li class="blurb">
    <p class="byline"><a href="{{post.url}}" title="permalink">
      {{ post.date | date: "%Y-%m-%d %R" }}
    </a></p>
    {{post.content}}
</li>
{% endunless %}
{% endif %}
{% endfor %}
</ul>
</section>

<section class="items">
<h1>Projects</h1>
<ul>
<li>
    <h3>Mage</h3>
    <p><img src="/files/2018-06-07-mage/mage.jpg"> An ATTiny85 based handheld console.
    <a class="read_more" href="https://github.com/MalphasWats/Mage"> more</a></p>
</li>
<li>
    <h3>Glixl</h3>
    <p><img src="/files/images/dojo.jpeg"> WebGL Javascript Framework.
    <a class="read_more" href="https://github.com/MalphasWats/glixl"> more</a></p></p>
</li>
<li>
    <h3>RPG</h3>
    <p><img src="/files/images/RPG.png">Ever unfinished glixl-based RPG.
    <a class="read_more" href="http://www.subdimension.co.uk/RPG/"> more</a></p></p>
</li>
</ul>
</section>